openapi: 3.0.0
info:
  title: Notification Service API
  description: API for managing notifications, email, SMS, and push notifications
  version: 1.0.0
  contact:
    name: SparkFund API Team
    email: api@sparkfund.com
  license:
    name: Proprietary
    url: https://sparkfund.com/terms

servers:
  - url: https://notifications.sparkfund.com
    description: Production server
  - url: https://notifications.staging.sparkfund.com
    description: Staging server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
        details:
          type: object
          description: Additional error details

    Notification:
      type: object
      required:
        - type
        - recipient
        - content
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the notification
        type:
          type: string
          enum: [email, sms, push]
          description: Type of notification
        recipient:
          type: object
          properties:
            user_id:
              type: string
              format: uuid
              description: User ID for user-specific notifications
            email:
              type: string
              format: email
              description: Email address for email notifications
            phone_number:
              type: string
              description: Phone number for SMS notifications
            device_token:
              type: string
              description: Device token for push notifications
        content:
          type: object
          properties:
            subject:
              type: string
              description: Email subject or notification title
            body:
              type: string
              description: Main content of the notification
            template_id:
              type: string
              description: ID of the template used
            template_data:
              type: object
              description: Data for template variables
        status:
          type: string
          enum: [pending, sent, failed, queued]
          description: Current status of the notification
        priority:
          type: string
          enum: [low, normal, high]
          description: Priority level of the notification
        scheduled_at:
          type: string
          format: date-time
          description: When to send the notification
        sent_at:
          type: string
          format: date-time
          description: When the notification was sent
        created_at:
          type: string
          format: date-time
          description: When the notification was created
        updated_at:
          type: string
          format: date-time
          description: When the notification was last updated
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object

    NotificationTemplate:
      type: object
      required:
        - name
        - type
        - content
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the template
        name:
          type: string
          description: Template name
        type:
          type: string
          enum: [email, sms, push]
          description: Type of notification template
        content:
          type: object
          properties:
            subject:
              type: string
              description: Email subject or notification title template
            body:
              type: string
              description: Body content template
            variables:
              type: array
              items:
                type: string
              description: List of template variables
        status:
          type: string
          enum: [active, inactive, draft]
          description: Template status
        created_at:
          type: string
          format: date-time
          description: When the template was created
        updated_at:
          type: string
          format: date-time
          description: When the template was last updated

    NotificationListResponse:
      type: object
      properties:
        total:
          type: integer
          description: Total number of notifications
        page:
          type: integer
          description: Current page number
        page_size:
          type: integer
          description: Number of items per page
        items:
          type: array
          items:
            $ref: '#/components/schemas/Notification'

    TemplateListResponse:
      type: object
      properties:
        total:
          type: integer
          description: Total number of templates
        page:
          type: integer
          description: Current page number
        page_size:
          type: integer
          description: Number of items per page
        items:
          type: array
          items:
            $ref: '#/components/schemas/NotificationTemplate'

    NotificationPreferences:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
          description: User ID
        email:
          type: boolean
          description: Email notification preference
        sms:
          type: boolean
          description: SMS notification preference
        push:
          type: boolean
          description: Push notification preference
        categories:
          type: object
          properties:
            security:
              type: boolean
              description: Security-related notifications
            transactions:
              type: boolean
              description: Transaction-related notifications
            marketing:
              type: boolean
              description: Marketing-related notifications
            updates:
              type: boolean
              description: System updates notifications
        updated_at:
          type: string
          format: date-time
          description: When preferences were last updated

    Metrics:
      type: object
      properties:
        total_notifications:
          type: integer
          description: Total number of notifications sent
        notifications_by_type:
          type: object
          properties:
            email:
              type: integer
              description: Number of email notifications
            sms:
              type: integer
              description: Number of SMS notifications
            push:
              type: integer
              description: Number of push notifications
        success_rate:
          type: object
          properties:
            email:
              type: number
              format: float
              minimum: 0
              maximum: 100
              description: Email delivery success rate
            sms:
              type: number
              format: float
              minimum: 0
              maximum: 100
              description: SMS delivery success rate
            push:
              type: number
              format: float
              minimum: 0
              maximum: 100
              description: Push notification delivery success rate
        average_delivery_time:
          type: object
          properties:
            email:
              type: number
              format: float
              description: Average email delivery time in seconds
            sms:
              type: number
              format: float
              description: Average SMS delivery time in seconds
            push:
              type: number
              format: float
              description: Average push notification delivery time in seconds
        queue_size:
          type: integer
          description: Current number of notifications in queue
        failed_notifications:
          type: integer
          description: Number of failed notifications

paths:
  /api/v1/notifications:
    post:
      summary: Send notification
      description: Send a new notification
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notification'
      responses:
        '201':
          description: Notification created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      summary: List notifications
      description: Retrieve a list of notifications with optional filtering and pagination
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: type
          schema:
            type: string
            enum: [email, sms, push]
          description: Filter by notification type
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, sent, failed, queued]
          description: Filter by status
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
          description: Page number
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Number of items per page
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        '401':
          description: Unauthorized

  /api/v1/notifications/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
        description: Notification ID

    get:
      summary: Get notification details
      description: Retrieve detailed information about a specific notification
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Notification details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          description: Unauthorized
        '404':
          description: Notification not found

    delete:
      summary: Delete notification
      description: Delete a notification
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Notification deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Notification not found

  /api/v1/templates:
    post:
      summary: Create notification template
      description: Create a new notification template
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationTemplate'
      responses:
        '201':
          description: Template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTemplate'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized

    get:
      summary: List templates
      description: Retrieve a list of notification templates
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: type
          schema:
            type: string
            enum: [email, sms, push]
          description: Filter by template type
        - in: query
          name: status
          schema:
            type: string
            enum: [active, inactive, draft]
          description: Filter by status
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
          description: Page number
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Number of items per page
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
        '401':
          description: Unauthorized

  /api/v1/templates/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
        description: Template ID

    get:
      summary: Get template details
      description: Retrieve detailed information about a specific template
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTemplate'
        '401':
          description: Unauthorized
        '404':
          description: Template not found

    put:
      summary: Update template
      description: Update an existing notification template
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationTemplate'
      responses:
        '200':
          description: Template updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTemplate'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '404':
          description: Template not found

    delete:
      summary: Delete template
      description: Delete a notification template
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Template deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Template not found

  /api/v1/preferences/{user_id}:
    parameters:
      - in: path
        name: user_id
        required: true
        schema:
          type: string
          format: uuid
        description: User ID

    get:
      summary: Get notification preferences
      description: Retrieve notification preferences for a user
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User notification preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        '401':
          description: Unauthorized
        '404':
          description: User not found

    put:
      summary: Update notification preferences
      description: Update notification preferences for a user
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPreferences'
      responses:
        '200':
          description: Preferences updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '404':
          description: User not found

  /api/v1/metrics:
    get:
      summary: Get notification metrics
      description: Retrieve metrics and statistics about notification operations
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Notification metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
        '401':
          description: Unauthorized

  /health:
    get:
      summary: Health check
      description: Check the health status of the notification service
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded]
                  version:
                    type: string
                  uptime:
                    type: number
                  dependencies:
                    type: object
                    properties:
                      database:
                        type: string
                        enum: [healthy, degraded, down]
                      redis:
                        type: string
                        enum: [healthy, degraded, down]
                      smtp:
                        type: string
                        enum: [healthy, degraded, down]
                      sms_provider:
                        type: string
                        enum: [healthy, degraded, down] 